.cont_img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25px;
}

.imagen{
    object-fit: contain;
    overflow: hidden;
    border-radius: 25px;
}

.contenedor-imagenes{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenes{
    object-fit: contain;
    overflow: hidden;
}


/* esto es para el toggle */


 .dropdown {
    position: relative;
   display: inline-block; 
} 


.dropdown-button {
    background-color: #fff;
    border: none;
    color: #333;
    padding: 0 20px 0 0;
    font-size: 16px;
    cursor: pointer;
}

.arrow {
    margin-left: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 10px;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
